{% extends "base.html" %}

{% block content %}
  <!-- Debug: Custom template is active -->
  <div class="page-metadata">
    {% if page.meta.github_username %}
      <div class="author-info">
        <img 
          src="https://github.com/{{ page.meta.github_username }}.png" 
          alt="{{ page.meta.author }}" 
          class="author-picture" 
          width="50" 
          height="50">
        <span class="author-name">{{ page.meta.author }}</span>
      </div>
    {% else %}
      <!-- Debug: No GitHub username found -->
    {% endif %}
  </div>
  {{ super() }}
{% endblock %}
