/* Change background and text color for selected text */
::selection {
    background-color: #e15241; /* Background color for selected text */
    color: #f8f7f4;              /* Text color for selected text */
}

/* Optional: Add styles for Firefox */
::-moz-selection {
    background-color: #e15241;
    color: #f8f7f4;
}

/* Style for the author information */
.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .author-picture {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author-name {
    font-size: 1.1rem;
    font-weight: bold;
  }
  